*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{


    
}
.header{
    /* Design */
    background-color: #1F2937;
    padding: 16px 0;

    /* Semi logo like flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 150px;

}
.header-logo{
    color: #F9FAF8;
    font-weight: 800;
    font-size: 24px;

}
.links{
    
    list-style-type: none;

    display: flex;
    gap: 1.5rem;

}
.links a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}
.homepage-container{
    background-color: #1F2937;
    padding: 0px 150px;
    padding: 70px 150px;

}
.homepage-container .title-p-btn h1{
    color: #F9FAF8;
    font-size: 48px;
    margin-bottom: 8px;
}
.homepage-container .title-p-btn p{
    color: #F9FAF8;
    font-size: 18px;
    margin-bottom: 8px;
}
.homepage-container .title-p-btn button{
    padding: 8px 32px;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 8px;
    -webkit-border-radius: 16px;
    border-radius: 16px;

}
.homepage-container .title-p-btn{
    /* border: 2px solid lightcoral; for debugging */


}

.img-container img{


    width: 100%;
    height: 100%;
}

.hp-container{
    /* border: 2px solid lightskyblue; */
    gap: 32px;

    display: flex;
}
.title-p-btn,
.img-container{
    flex-basis: 100%;
}

.title-p-btn{
    align-self: center;


}
.img-container{
    /* border: 2px solid lightgreen; */
    flex-shrink: 1;
    
}

/* some random information section */
.information-container{
    background-color: #FFFFFF;
}
.information-container .info-title{
    padding: 32px;
}
.information-container h1{
    color: #1f1f1f;
    text-align: center;
    font-weight: 800;
    font-size: 36px;

}

.information-container .box-container{ /*box container*/
    display: flex;
    gap: 16px;
    justify-content: center;

}

.information-container .box-container .box{ /*box container*/
    border: 1px solid black;
    padding: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.information-container .box-container .box-blue{

    border: 2px solid #3B82F6;
    width: 165px;
    height: 165px;
}

.information-container .box-container .paragraph{

    border: 2px solid #3B82F6;
 
}
