*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.header{
    /* Design */
    background-color: #1F2937;
    padding: 16px;

    /* Semi logo like flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.header-logo{
    color: #fff;
    font-weight: 600;
    font-size: 24px;

}
.links{
    
    list-style-type: none;

    display: flex;
    gap: 1.5rem;

}
.links a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}
.homepage-container{
    border: 2px solid chocolate;  /*for debugging*/

}
.img-container img{
    width: 350px;
    height: auto;
}